.collapse-container
    width: 50%

.about-container
    width: 85%

.about-size-text
    font-size: 50px
    
.accomodation-collapse-position
 display: flex
 gap: 50px

.about-collapse-position
    display: flex
    flex-direction: column
    gap: 30px
    align-items: center
    margin-top: 20px    
    
.collapse-title
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1rem
    background: #FF6060
    color: white
    border-radius: 10px
    &:hover
     cursor: pointer
    
.collapse-text
    overflow: hidden
    padding: 0 1rem
    color: #FF6060
    max-height: 0
    transition: max-height 0.3s ease, backgroud 0.3s ease
    
               
.collapse-container.open .collapse-text 
  max-height: 200px
  background: #F6F6F6
  border-bottom-left-radius:10px 
  border-bottom-right-radius:10px 
  border-top-right-radius: 5px
  border-top-left-radius: 5px
  padding: 20px
  
.collapse-icon
    transition:  all 0.5s ease
    font-size:32px 
.collapse-icon.open
    transform: rotate(-180deg)

@media screen and (max-width: 760px)
 .collapse-container
    width: 100%

 .accomodation-collapse-position
    flex-direction: column
    gap: 20px
    


        
    
  

