header {
  color: #ff6060;
  margin: 25px;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #ff6060;
}

.Accomodation-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 10px;
}

.card {
  position: relative;
  height: 340px;
  width: 340px;
  border-radius: 10px;
}
.card h3 {
  position: absolute;
  bottom: 0;
  color: white;
}

.Accomodation-title {
  color: white;
}

.Card-cover {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.Accomodation-layer {
  position: absolute;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 209px;
  margin-top: 30px;
  flex-direction: column;
}
footer img {
  width: 122px;
  height: 40px;
}
footer h2 {
  color: white;
}

.carrouselContainer {
  display: flex;
  position: relative;
  align-items: center;
}
.carrouselContainer .arrowLeft {
  left: 10px;
}
.carrouselContainer .arrowRight {
  right: 10px;
}

.carrouselSlide {
  height: 415px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow {
  position: absolute;
  cursor: pointer;
}

.accommodationPresentation {
  display: flex;
  color: #FF6060;
  justify-content: space-between;
  align-items: baseline;
}
.accommodationPresentation h2 {
  font-weight: 500;
  font-size: 36px;
}

.tags-ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tags {
  color: purple;
}

.banner {
  height: 223px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.collapse-container {
  width: 50%;
}

.accomodation-collapse-position {
  display: flex;
  gap: 50px;
}

.about-collapse-position {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}

.collapse-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #FF6060;
  color: white;
  border-radius: 10px;
}
.collapse-title:hover {
  cursor: pointer;
}

.collapse-text {
  overflow: hidden;
  padding: 0 1rem;
  color: #FF6060;
  height: 0;
}

.collapse-container.open .collapse-text {
  overflow: visible;
  height: auto;
  background: #F6F6F6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.collapse-icon {
  transition: all 0.5s ease;
}

.collapse-icon.open {
  transform: rotate(-180deg);
}

.error-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
}

.error {
  font-weight: 700;
  font-size: 228px;
}

.error-text {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.error-link {
  margin-bottom: 193px;
  color: #FF6060;
}

.fa-star {
  color: #E3E3E3;
}

.active {
  color: #FF6060;
}

.tags-container {
  display: flex;
  gap: 10px;
}

.tag-container {
  background-color: #FF6060;
  border-radius: 10px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.host-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.host-picture {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body main {
  padding: 0px 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}/*# sourceMappingURL=index.css.map */