header {
  color: #ff6060;
  margin: 25px;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #ff6060;
}
nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  header {
    gap: 20px;
    text-transform: uppercase;
  }
  .logo {
    height: 45px;
  }
  nav {
    min-width: 200px;
    gap: 15px;
    font-size: 12px;
  }
}
.Accomodation-card {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 10px;
}

.card {
  position: relative;
  height: 340px;
  min-width: 300px;
  border-radius: 10px;
}
.card h3 {
  position: absolute;
  bottom: 0;
  color: white;
  margin-left: 10px;
}

.Accomodation-title {
  color: white;
}

.Card-cover {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.Accomodation-layer {
  position: absolute;
}

@media screen and (max-width: 760px) {
  .Accomodation-card {
    background-color: white;
    padding: 0px;
  }
  .card {
    height: 255px;
  }
}
footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #000000;
  height: 209px;
  margin-top: 45px;
  flex-direction: column;
  gap: 30px;
}
footer img {
  width: 122px;
  height: 40px;
}
footer h2 {
  color: white;
}

@media screen and (max-width: 760px) {
  footer {
    justify-content: center;
    gap: 0px;
  }
}
h2 {
  text-align: center;
}

.carrouselContainer {
  display: flex;
  position: relative;
  align-items: center;
}
.carrouselContainer .arrowLeft {
  left: 10px;
}
.carrouselContainer .arrowRight {
  right: 10px;
}

.carrouselSlide {
  height: 415px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow {
  position: absolute;
  cursor: pointer;
}

.tracking-slide {
  position: absolute;
  bottom: 15px;
  margin-left: 50%;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 760px) {
  .carrouselSlide {
    height: 255px;
  }
  .tracking-slide {
    display: none;
  }
  .arrow {
    height: 40px;
  }
}
.accommodation-information {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}

.text-tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FF6060;
  align-items: baseline;
}

p {
  line-height: 0;
}

.host-rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FF6060;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  max-width: 1300px;
}

@media screen and (max-width: 760px) {
  .accommodation-information {
    display: flex;
    flex-direction: column;
  }
  .host-rating {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .card-container {
    gap: 20px;
  }
}
.banner-container {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
.banner-container img {
  max-height: 223px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  opacity: 30%;
}

.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: white;
  font-size: 47px;
  padding: 15px;
}

@media screen and (max-width: 760px) {
  .banner {
    height: 111px;
    min-width: 350px;
  }
  .banner-text {
    font-size: 20px;
  }
  img {
    height: 111px;
  }
}
.collapse-container {
  width: 50%;
}

.about-container {
  width: 85%;
}

.about-size-text {
  font-size: 50px;
}

.accomodation-collapse-position {
  display: flex;
  gap: 50px;
}

.about-collapse-position {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}

.collapse-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: #FF6060;
  color: white;
  border-radius: 10px;
}
.collapse-title:hover {
  cursor: pointer;
}

.collapse-text {
  overflow: hidden;
  padding: 0 1rem;
  color: #FF6060;
  max-height: 0;
  transition: max-height 0.3s ease, backgroud 0.3s ease;
}

.collapse-container.open .collapse-text {
  max-height: 200px;
  background: #F6F6F6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px;
}

.collapse-icon {
  transition: all 0.5s ease;
  font-size: 32px;
}

.collapse-icon.open {
  transform: rotate(-180deg);
}

@media screen and (max-width: 760px) {
  .collapse-container {
    width: 100%;
  }
  .accomodation-collapse-position {
    flex-direction: column;
    gap: 20px;
  }
}
.error-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
}

.error {
  font-weight: 700;
  font-size: 228px;
}

.error-text {
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.error-link {
  margin-bottom: 193px;
  color: #FF6060;
}

@media screen and (max-width: 760px) {
  .error {
    font-size: 150px;
  }
}
.fa-star {
  color: #E3E3E3;
}

.active {
  color: #FF6060;
}

.rating {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 760px) {
  .rating {
    font-size: 13px;
  }
}
.tags-container {
  display: flex;
  gap: 10px;
}

.tag-container {
  background-color: #FF6060;
  border-radius: 10px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 25px;
}

.host-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.host-name {
  display: flex;
  flex-direction: column;
}

.host-picture {
  border-radius: 50%;
  height: 64px;
}

.host-fullname {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body main {
  padding: 0px 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media screen and (max-width: 760px) {
  body html {
    overflow: hidden;
  }
  body main {
    padding: 0px 20px;
    overflow: hidden;
  }
}/*# sourceMappingURL=index.css.map */